* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    /* background: #101010; */
    color: white;
    font-family: 'Arial', sans-serif;
    padding-top:60px;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    transition: margin 0.3s;
    background-color: #252525;
}

/* Barra de Navegacion*/
.nav-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #010101;
    /* z-index: 1000; */
    border-bottom: 1px solid #101010;
    padding-top: 12px;
}

/* Nav Izquierda */
.nav-brand {
    width: 50px;
    margin-right: auto;
}

/* Nav Derecha */

/* Nav Medio*/
.nav-orange {
    color: #ffffff;
    text-decoration: none;
}

.nav-orange:hover {
    color: #ff1457;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    padding: 35px;
}

.nav-main ul li a:hover {
    border-bottom:2px solid #ff1457;
    color: #ff1457;
}

/* Contenido */

.container2 {
    background: #010101;
    width: 70%;
    margin: 20px auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: margin 0.3s;
}

.container2 header h1{
    padding-top: 30px;
    font-size: 35px;

}

.container2 header h2{
    padding-top: 5px;
    color: #D47900;
    font-size: 20px;
}
.button-container {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    margin: 10px auto;
    padding-top: 40px;
    padding-bottom: 100px;
    width: 70%;
}


.custom-button {
    padding: 40px 20px;
    background-color: #ff1457;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button:hover {
    background-color: #ff1457;
    color: #fff;
}

/* Footer */
.footer {
    background: #010101;
    text-align: center;
    padding: 20px 0;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logouautonoma {
    width: 200px;
    margin-right: 1px;
    margin-left: 50px;
}

.footer-info {
    text-align: left;
    margin-right: auto; 
}

.footer-info h3 {
    padding-bottom: 10px;
}

.footer-info p {
    padding-bottom: 5px;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.footer-social li {
    margin: 0 10px;
}

.footer-social a {
    color: #ffffff;
    font-size: 25px;
}

.info-divider {
    border-left: 1px solid white;
    padding-left: 20px;
    margin-left: 20px;
    border-color: #ff1457;
}

.input-container {
    
    margin-bottom: 10px;
}

hr {
    margin-top: 40px;
    color: #ff1457;
}

.cont {
    padding-bottom: 200px;
}

.orange-text {
    color: #ff1457;
    font-size: 36px;
    margin-top: 20px;
}
.small-text {
    font-size: 30px;
}

.smaller-text {
    font-size: 20px;
}

.bold-text {
    font-weight: bold;
    color: #ffffff; 
}

.emphasized-text {
    font-weight: bold; 
}

.content-container {
    margin: 20px; 
}

/* banner */
#banner {
    width: 100%;
    overflow: hidden;
}

.banner-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 1s ease-in-out;
}

.banner-li {
    flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho */
}

.banner-li img {
    width: 30%;
}